.mainFxmlClass {
    -fx-background-color: #ffffff; 
    -fx-padding: 0; 
    -fx-spacing: 0; 
    -fx-border-color: #000; 
    -fx-border-width: 0.4px; 
}

/* Bagian kiri */
.left-form {
    -fx-background-color: linear-gradient(to bottom right, #051937, #003466, #0a1a2f);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}

/* Bagian kanan */
.right-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px 0px;
}

/* Tombol close (Back) */
.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-size: 16px;
    -fx-text-fill: black;
}
.close:hover {
    -fx-background-color: #dd4763;
    -fx-text-fill: white;
}

/* Textfield (Name, Username, Password) */
.textfield {
    -fx-background-color: transparent;
    -fx-border-color: #000;
    -fx-border-width: 0px 0px .8px 0px;
    -fx-font-size: 13px;
    -fx-font-family: "Tahoma";
}
.textfield:focused {
    -fx-border-color: linear-gradient(to bottom right, #753036, #3c8256);
    -fx-border-width: 0px 0px 1.8px 0px;
}

/* Tombol REGISTER (ikuti login-btn) */
.login-btn {
    -fx-background-color: linear-gradient(to bottom, #000080, #539679);
    -fx-background-radius: 8px;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
}
.login-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #000080, #539679);
}

/* Label REGISTER */
.label {
    -fx-text-fill: #211e80;
    -fx-font-family: "Arial Black";
}

